<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
  </head>
  <body>
  
  <div class="site-wrap">
    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><%= link_to('Home', root_path, class: "text-black h2 mb-0") %></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
              </ul>
            </nav>
          </div>
          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li class="active">
                    <% if user_signed_in? %>
                        <%= link_to('Logout', destroy_user_session_path, method: :delete, style: 'font-family: Verdana;') %>       
                    <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

  <div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      <div class="row justify-content-center">      
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center" style="margin-left: 40px;"><%= @album.name %></h2>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" id="lightgallery">
        <% @album.images.each do |a| %>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="<%= url_for(a) %>">
            <a href="#"><%= image_tag url_for(a), class: "img-fluid" %></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  </div>
  <%= javascript_include_tag "album/jquery-3.3.1.min.js" %>
  <%= javascript_include_tag "album/jquery-migrate-3.0.1.min.js" %>
  <%= javascript_include_tag "album/jquery-ui.js" %>
  <%= javascript_include_tag "album/popper.min.js" %>
  <%= javascript_include_tag "album/bootstrap.min.js" %>
  <%= javascript_include_tag "album/owl.carousel.min.js" %>
  <%= javascript_include_tag "album/jquery.stellar.min.js" %>
  <%= javascript_include_tag "album/jquery.countdown.min.js" %>
  <%= javascript_include_tag "album/jquery.magnific-popup.min.js" %>
  <%= javascript_include_tag "album/bootstrap-datepicker.min.js" %>
  <%= javascript_include_tag "album/swiper.min.js" %>
  <%= javascript_include_tag "album/aos.js" %>
  <%= javascript_include_tag "album/picturefill.min.js" %>
  <%= javascript_include_tag "album/lightgallery-all.min.js" %>
  <%= javascript_include_tag "album/jquery.mousewheel.min.js" %>
  <%= javascript_include_tag "album/main.js" %>

  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

  </body>
</html>