<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V17</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-34">
						Welcome Weggy 🥚
					</span>
					
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <label class="label-input100" for="email">Email</label>
            <div class="wrap-input100 validate-input" data-validate = "Type user name">
              <%= f.email_field :email, class: "input100", type: "text", autofocus: true, placeholder: "Email", autocomplete: "email"%>
              <span class="focus-input100"></span>
            </div>
            <label class="label-input100" for="password">Password</label>
            <div class="wrap-input100">
              <%= f.password_field :password, class: "input100", type: "password", autofocus: true, placeholder: "Password", autocomplete: "off" %>
              <span class="focus-input100"></span>
            </div>
            <div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1"></span>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn">
                <%= f.submit "Sign in", class: "login100-form-btn" %>
              </button>
            </div>
          <% end %>
					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">	
						</span>
						<a href="#" class="txt2">
						</a>
					</div>
					<div class="w-full text-center">
						<a href="#" class="txt3">
						</a>
					</div>
				</form>
				<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
			</div>
		</div>
	</div>	
  <div id="dropDownSelect1"></div>
</body>
</html>
